.tarea {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tarea.completada {
    text-decoration: line-through;
    color: grey;
}

.tarea button {
    margin-left: 10px;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }

.comic-neue-bold {
font-family: "Comic Neue", cursive;
font-weight: 700;
font-style: normal;
}

.tarea-acciones {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

    /* Media query para pantallas pequeñas */
    @media (max-width: 600px) {
        h1 {
            font-size: 1.5em;
        }
        
        h2 {
            font-size: 1.2em;
        }
        
        #nuevaTarea, #agregarTarea {
            font-size: 0.9em;
        }

        #listaDeTareas {
            width: 90%;
        }
    }