.tarea {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tarea.completada {
    text-decoration: line-through;
    color: grey;
}

.tarea button {
    margin-left: 10px;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }

.comic-neue-bold {
font-family: "Comic Neue", cursive;
font-weight: 700;
font-style: normal;
}